*,*::after,*::before{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
}
main{
  width: 700px;
  height: 65%;
  display: flex;
  border-radius: 1em;
  overflow: hidden;
}
.column{
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 2em;
}
.one{
  background-image: linear-gradient(to right, hsl(30, 77%, 50%), hsl(30, 77%, 56%));
}
.two{
  background-image: linear-gradient(to right, #016972, hsl(185, 98%, 24%));
}
.three{
  background-color: #00403f;
}
.row{
  height: 40px;
  position: relative;
}
.row .circle{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.315);

}
.icon{
  font-size: 1.7rem;
  color: rgba(255, 255, 255, .4);
}
h2{
  font-size: 2rem;
  font-family: 'Big Shoulders Display', cursive;
  color: hsl(0, 0%, 95%);
  margin: 0;
}

.ctab{
  margin-top: 1em;
  width: 70%;
  padding: .75em;
  border-radius: 2em;
  color: hsl(0, 0%, 95%);
  border: none;
}
.first{
  color: hsl(30, 77%, 50%);
}
.second{
  color: #016972;
}
.third{
  color: #00403f;
}